global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
#  - job_name: 'uptime-kuma'
#    static_configs:
#      - targets:
#          - uptime-kuma.observability.svc.cluster.local:3001

  - job_name: 'ping'
    scrape_interval: 1s
    metrics_path: /probe
    params:
      module: [icmp]
    static_configs:
      - targets:
          - cocttmc.ddns.net
          - firewall.platform1.co.za
          - mikrotik-prod-az.platform1.co.za
          - 105.28.119.49 # Office Seacom
          - 105.28.119.50 # Office FW
          - office.rubicscctv.net
          - hg409wxm9p6.sn.mynetname.net
          - lprcpthkromstuart.dvrdns.org
          - hh00aeyd93x.sn.mynetname.net
          - hh00aajb0r1.sn.mynetname.net
          - e34b0d323579.sn.mynetname.net
          - gscid-vet.lpr.camera
          - hh00ac8tkjn.sn.mynetname.net
          - lprcptthomas.dvrdns.org
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox-exporter.observability.svc.cluster.local:9115

  - job_name: 'http'
    scrape_interval: 10s
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
          - http://office.rubicscctv.net:8582
          - http://office.rubicscctv.net:8587
#          - http://10.200.5.203:80
#          - http://192.168.0.176:80
          - http://hg409wxm9p6.sn.mynetname.net:5881
          - http://lprcpthkromstuart.dvrdns.org:82
          - http://hh00aeyd93x.sn.mynetname.net:8080
          - http://hh00aajb0r1.sn.mynetname.net:8080
          - http://hh00aajb0r1.sn.mynetname.net:8081
          - http://hh00aajb0r1.sn.mynetname.net:8082
          - http://e34b0d323579.sn.mynetname.net:8101
          - http://gscid-vet.lpr.camera:5880
          - http://hh00ac8tkjn.sn.mynetname.net:8080
          - http://lprcptthomas.dvrdns.org:82
#          - http://10.200.5.216:80
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox-exporter.observability.svc.cluster.local:9115