apiVersion: apps/v1
kind: Deployment
metadata:
  name: qbittorrent
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: qbittorrent
  template:
    metadata:
      labels:
        app: qbittorrent
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        - name: qbittorrent
          image: linuxserver/qbittorrent:5.1.2
          resources:
            requests:
              memory: "128Mi"
              cpu: "75m"
            limits:
              memory: "512Mi"
              cpu: "300m"
          ports:
            - containerPort: 8080 # Web UI
            - containerPort: 55555 # BitTorrent (TCP/UDP)
          env:
            - name: PUID
              value: "1000" # Replace with your user ID
            - name: PGID
              value: "1000" # Replace with your group ID
            - name: TZ
              value: "Europe/Amsterdam" # Replace with your timezone
            - name: WEBUI_PORT
              value: "8080" # Set qBittorrent Web UI port
            - name: TORRENTING_PORT
              value: "55555"
          volumeMounts:
            - mountPath: /config
              name: qbittorrent
            - mountPath: /downloads
              name: downloads
      volumes:
        - name: qbittorrent
          persistentVolumeClaim:
            claimName: qbittorrent
        - name: downloads
          persistentVolumeClaim:
            claimName: downloads