apiVersion: v1
kind: PersistentVolume
metadata:
  name: grafana-config
  namespace: observability
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: grafana-config
  hostPath:
    path: /mnt/nvme/grafana-config
