apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarr
  template:
    metadata:
      labels:
        app: sonarr
    spec:
      containers:
        - name: sonarr
          image: linuxserver/sonarr:4.0.15
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "512Mi"
              cpu: "200m"
          ports:
            - containerPort: 8989 # sonarr web interface
          env:
            - name: PUID
              value: "1000" # Replace with your user ID
            - name: PGID
              value: "1000" # Replace with your group ID
            - name: TZ
              value: "Europe/Amsterdam" # Replace with your timezone
          volumeMounts:
            - mountPath: /config
              name: sonarr
            - mountPath: /series
              name: series
            - mountPath: /downloads
              name: downloads
      volumes:
        - name: sonarr
          persistentVolumeClaim:
            claimName: sonarr
        - name: series
          persistentVolumeClaim:
            claimName: series
        - name: downloads
          persistentVolumeClaim:
            claimName: downloads