#apiVersion: v1
#kind: PersistentVolume
#metadata:
#  name: prometheus-config
#  namespace: observability
#spec:
#  capacity:
#    storage: 5Gi
#  accessModes:
#    - ReadWriteOnce
#  persistentVolumeReclaimPolicy: Retain
#  storageClassName: prometheus-config
#  hostPath:
#    path: /mnt/nvme/prometheus-config
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: prometheus-data
  namespace: observability
spec:
  capacity:
      storage: 5Gi
  accessModes:
      - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: prometheus-data
  hostPath:
    path: /mnt/data/prometheus-data
