apiVersion: apps/v1
kind: Deployment
metadata:
  name: plex
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: plex
  template:
    metadata:
      labels:
        app: plex
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet # Adjust DNS policy when using host networking
      containers:
        - name: plex
          image: linuxserver/plex:1.42.1
          resources:
            requests:
              memory: "320Mi"
              cpu: "150m"
            limits:
              memory: "1280Mi"
              cpu: "600m"
          ports:
            - containerPort: 32400 # Plex web interface
#            - containerPort: 1900  # Plex DLNA server
#            - containerPort: 5353  # Bonjour/Avahi
#            - containerPort: 8324  # Plex Roku Companion
            - containerPort: 32410 # GDM network discovery
            - containerPort: 32412 # GDM network discovery
            - containerPort: 32413 # GDM network discovery
            - containerPort: 32414 # GDM network discovery
#            - containerPort: 32469 # DLNA server
          env:
            - name: PUID
              value: "1000" # Update with your user ID
            - name: PGID
              value: "1000" # Update with your group ID
            - name: TZ
              value: "Europe/Amsterdam" # Set your timezone
            - name: VERSION
              value: docker # Optional: stick to the Docker version
            - name: PLEX_CLAIM
              value: "claim-NLroaq6PN_ax3fp6JqzK" # Optional, get a claim token from https://www.plex.tv/claim
          volumeMounts:
            - mountPath: /config
              name: plex
            - mountPath: /movies
              name: movies
            - mountPath: /series
              name: series
      volumes:
        - name: plex
          persistentVolumeClaim:
            claimName: plex
        - name: movies
          persistentVolumeClaim:
            claimName: movies
        - name: series
          persistentVolumeClaim:
            claimName: series